body, input, select, textarea {
    color: $palette_primary-dr;
    font-family: $font_family-basic;
    font-size: 16px;
    font-weight: $font_weight-regular;
    @media ($small) {
        font-size: 15px;
    }
    @media ($xsmall) {
        font-size: 14px;
    }
}

::selection {
    background-color: rgba($palette_primary-bright, 0.4);
}

a {
    color: $palette_primary;
    text-decoration: none;
}

strong, b {
    color: $palette_primary-bright;
    font-weight: $font_weight-bold;
}

p {
    font-family: $font_family;
    margin: 0 0 1em 0;
    line-height: 1.5;
    letter-spacing: 1px;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {

    color: $palette_primary;
    font-family: $font_family-heading;
    font-weight: $font_weight-heading;
    line-height: 1.5;
    margin: 0 0 0.5em 0;

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 0;
    }
}

h1 {
    font-size: 4em;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

@media ($large) {
    h1 {
        font-size: 3.5em;
    }
}

@media ($medium) {
    h1 {
        font-size: 3.25em;
    }
}

@media ($small) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }

    h2 {
        font-size: 1.5em;
    }
}

h1.header {
    font-family: $font_family;
    font-size: 2.7em;
    font-weight: 600;
    color: $palette_primary-lg;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 3px $palette_primary;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: .5em 0 .5em 2em;
}

section {
    padding: 5em 0;
}

hr {
    border: 0;
    border-bottom: solid 1px $palette_primary;
    margin: 2em 0;
}

.container {
    width: 100%;
    max-width: $size_container-width;
    margin: 0 auto;
    padding: 0 $size_container-padding;
}

.alg-center {
    text-align: center;
}

.marg-t {
    margin-top: 2em;
}