.home {
    &__container {
        &--about {
            max-width: $size_container-width-shrink;
            text-align: center;
        }
        &--services {
            justify-content: space-around;
            max-width: $size_container-width-extend;
        }
    }
    &__service {
        padding: 10px;
        max-width: 160px;
        &-icon {
            display: block;
            margin: auto;
            width: 80%;
            padding: 15px;
            border-radius: 15px;
            border: 2px solid $palette_primary-bright;
            &-title {
                text-align: center;
                padding: 1.5em 0 1em;
                font-family: $font_family-heading;
                font-weight: $font_weight-regular;
                font-size: 1.05em;
                color: $palette_primary-dr;
            }
        }
    }
    &__parallax {
        height: 50vh;
        overflow: hidden;
    }
    &__p {
        margin-bottom: 3em;
    }
}

.info {
    position: relative;
    padding: 0;
    min-height: 430px;
    overflow: hidden;
    &__tile {
        background-position: center;
        background-size: cover;
        opacity: 0.6;
    }
    &__wraper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em 0.5em;
        width: 100%;
        max-width: 500px;
        z-index: 1;
        text-align: center;
    }
    &__h1 {
        font-family: $font_family;
        font-size: 1.8em;
        color: #222222;
        padding-bottom: 0.5em;
        &--span {
            display: block;
            font-size: 1.4em;
            color: $palette_primary-bright;
        }
    }
}